/* ============================= Index ================================= */
h1.title {
    color: #f23e14;
    font-size: 26px;
}
i.fa{
    cursor: pointer;
}
.container {
    padding-top: 60px;
}
header {
    position: fixed;
    z-index: 99;
    background-color: #dee2e6;
}
body{
    position: relative;
}
nav {
    position: fixed;
    z-index: 99;
    background: #dee2e6;
    width: 100%;
    bottom: 0;
}
nav .nav-item a i {
    display: block;
    text-align: center;
    font-size: 18px;
}
i.fa-solid.fa-bag-shopping {
    color: #fff;
}
nav a.nav-link {
    font-size: 12px;
    color: #000;
}
li.nav-item.cart-bag {
    position: absolute;
    top: -18px;
}
li.nav-item.cart-bag {
    position: absolute;
    top: -18px;
    background: #f23e14;
    border-radius: 100px;
}
.cart-bag a.nav-link { 
    padding: 12px 12px; 
}
nav li.nav-item {
    margin: 0 6px;
}

.carousel-item img {
    border-radius: 16px;
}



/* Home Category Slider */
.swiper-slide img {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.swiper-slide {
    margin-right: 16px;
    text-align: center;
}
.swiper-slide a {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}
.slider-section a span.text {
    text-transform: capitalize;
    line-height: 16px;
    display: block;
    margin: 10px 0 0 0;
}
/*  */
h2 {
    font-size: 18px;
    font-weight: 700;
}
img.wishlist-icon {
    position: absolute;
    width: 26px;
    right: 10px;
    top: 10px;
    background: #fff;
    padding: 4px;
    border-radius: 100px;
}
.img-box {
    position: relative;
}
.text-box a p, .text-box a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    margin: 0;
}
.text-box span {
    font-size: 16px;
    font-weight: 700;
}
.text-box span.sale {
    text-decoration-line: line-through;
    font-size: 15px;
    font-weight: 600;
    color: #ff626c;
}
h3 {
    font-size: 14px;
    font-weight: 600;
}
p {
    font-size: 14px;
    line-height: 18px;
}

/* ========= Mobile Menu ========== */
.menu-toggle{ 
    height: 100%;
    width: 80%;
    top: 0;
    left: -90%;
    background: #fff;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 1099;
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
}
.cart-toggle{ 
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
    background: #fff;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 1099;
    -webkit-transition: right 0.35s ease;
    -moz-transition: right 0.35s ease;
    -o-transition: right 0.35s ease;
    transition: right 0.35s ease;
}
.menu-overlay {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    display: none;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
}
.menu-items li a {
    color: #000;
    text-decoration: none;
}
.menu-items li {
    padding: 8px 0;
    border-bottom: 1px solid #e7e7e7;
}
a.close-menu {
    color: #f23e14;
    border: 2px solid #f23e14;
    border-radius: 100px; 
    font-size: 10px;
    width: 20px;
    display: inline-block;
    height: 20px;
    text-align: center;
}
.open-menu {
    cursor: pointer;
}
.info ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.info ul li.list-group-item {
    border: 0;
    padding-left: 0; 
    padding-right: 11px;
    line-height: 13px;
}
.follow-us a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
    padding: 0 6px;
}
a.nav-link:hover,.menu-items li a:hover {
    color: #f23e14;
}

/* ========= Cateory Menu========== */
.cat-side-menu ul.dropdown-menu.show {
    position: relative !important;
    transform: none !important;
}
.cat-side-menu button.dropdown-toggle {
    width: 100%;
    text-align: left;
}
.dropdown-toggle::after {
    position: absolute;
    top: 18px;
    right: 20px;
} 
.cat-side-menu .img-box a img {
    height: 60px;
}
.cat-side-menu .nav-pills .nav-link.active {
    background: #f23e14;
    color:#fff;
}
.cat-side-menu .nav-pills .nav-link {
    border: 1px solid #f23e14;
    color: #f23e14;
    padding: 10px;
    margin: 8px 0;
}
.cat-side-menu .tab-content .tab-pane.show {
    display: flex;
}

/* ========= Cart Menu========== */
.search-box, header .search-close {
    display: none;
}
/* ========= Cart Menu========== */
.cart-toggle .cart-box img {
    width: 100px;
}
.cart-toggle button {
    background-color: #f23e14;
    color: #fff;
    border-radius: 100px;
    border: 1px solid #f23e14;
}
.cart-toggle button:hover, .cart-toggle button:active {
    background-color: transparent;
    border-color: #f23e14;
    color:#f23e14;
}

/* ========= Cart Quantity ========== */
span.plus, span.minus {
    font-size: 20px;
    cursor: pointer;
} 
.number {
    border: 1px solid #f23e14;
    width: 100%;
    margin: 20px 0;
    background: #f23e14;
    display: table-cell;
}
.number .minus, .number .plus {
    padding: 6px 10px;
    border: 2px solid #f23e14;
    background: #f23e14;
    color: #fff;
}
.number input {
    width: 30px;
    border: 0; 
    background: #f23e14;
    color: #fff;
    height: 45px;
}

/* ========= Product Page ========== */
/* .product-page ul li {
    width: 50%;
    display: inline-flex;
    padding: 12px;
} */
li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* ========= Product Detail ========== */
.product-detail h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.product-detail span {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}
.nav-tabs li .nav-link {
    padding: 10px 20px;
    border: 1px solid #1f1f39;
    border-radius: 100px;
    margin: 20px 20px 20px 0;
    color: #1f1f39;
}
.nav-tabs li .nav-link.active {
    background-color: #1f1f39;
    color: #fff; 
}
a.btn:hover,button.btn:hover {
    border: 1px solid #f23e14;
    color: #f23e14;
}
a.btn,button.btn {
    background: #f23e14;
    color: #fff;
    border: 1px solid #f23e14;
    border-radius: 100px;
    padding: 10px 30px;
}
a.addToCart.btn:hover i {
    color: #f23e14;
}
label.error {
    color: red;
    font-size: 12px;
}
.spinner-grow {
    display: none;
}

/* ========= Product Page ========== */
.product-page .dropdown {
    background: #f23e14;
    color: #fff;
    border: 1px solid #f23e14;
    border-radius: 100px;
    padding: 10px 30px;
}
.product-page .dropdown a.dropdown-toggle {
    color: #fff;
    text-decoration: none;
}
.product-page .row {
    align-items: baseline;
}

/* ========= Login Page ========== */
.links a { 
    color: #f23e14;
    padding: 10px;
}